:root {
  --main-color: #79118d;
  --second-color: #eebff8;
  --third-color: #b319d2;
  --backgound-color: #faedfd;
  --text-color: #1b0420;
  --background1-color: #ffff;
  --text-color2: #716e72;
  --backround-color3: #dbc1e0;
}
